@page
@model ContosoUniversity.Web.Pages.AboutModel
@{
    ViewData["Title"] = "Student Body Statistics";
}

<h1>Student Body Statistics</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Enrollment Date</th>
            <th>Students</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model.EnrollmentData)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
                <td>@item.StudentCount</td>
            </tr>
        }
    </tbody>
</table>
