@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to Contoso University</h1>

<div class="row">
    <div class="col-md-4 p-3">
        <p>Contoso University is a sample application that demonstrates how to use Entity Framework Core in an ASP.NET Core Razor Pages web app.</p>
    </div>
    <div class="col-md-4 p-3">
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a href="https://docs.microsoft.com/aspnet/core/data/ef-rp/intro" target="_blank">See the tutorial</a></p>
    </div>
    <div class="col-md-4 p-3">
        <p>You can download the completed project from GitHub.</p>
    </div>
</div>
