@page "{id:int?}"
@model ContosoUniversity.Web.Pages.Students.EditModel

@{
    ViewData["Title"] = $"Edit Student - {Model.Student.FirstMidName} {Model.Student.LastName}";
}

<h1>Edit Student&nbsp;<small class="text-body-secondary">@Model.Student.FirstMidName @Model.Student.LastName</small></h1>

<form method="post" class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Student.StudentId" />
        <div class="mb-3">
            <label asp-for="Student.LastName" class="control-label"></label>
            <input asp-for="Student.LastName" class="form-control" />
            <span asp-validation-for="Student.LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Student.FirstMidName" class="control-label"></label>
            <input asp-for="Student.FirstMidName" class="form-control" />
            <span asp-validation-for="Student.FirstMidName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Student.EnrollmentDate" class="control-label"></label>
            <input asp-for="Student.EnrollmentDate" class="form-control" />
            <span asp-validation-for="Student.EnrollmentDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
