@page
@model ContosoUniversity.Web.Pages.Departments.CreateModel

@{
    ViewData["Title"] = "Create New Department";
}

<h1>Create New Department</h1>

<form method="post" class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Department.Name" class="control-label"></label>
            <input asp-for="Department.Name" class="form-control" />
            <span asp-validation-for="Department.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Department.Budget" class="control-label"></label>
            <input asp-for="Department.Budget" class="form-control" />
            <span asp-validation-for="Department.Budget" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Department.StartDate" class="control-label"></label>
            <input asp-for="Department.StartDate" class="form-control" />
            <span asp-validation-for="Department.StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Department.InstructorId" class="control-label"></label>
            <select asp-for="Department.InstructorId" class="form-select" asp-items="ViewBag.InstructorId"></select>
        </div>
        <div class="mb-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
