@page "{id:int}"
@using ContosoUniversity.Web.ExtensionMethods
@model ContosoUniversity.Web.Pages.Departments.EditModel

@{
    ViewData["Title"] = $"Edit Department - {Model.Department.Name}";
}

<h1>Edit&nbsp;<small class="text-body-secondary">@Model.Department.Name</small></h1>

<form method="post" class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Department.DepartmentId" />
        <input type="hidden" asp-for="Department.RowVersion" />
        <div class="mb-3">
            <label>Version</label>
            @Model.Department.RowVersion.GetLastChars()
        </div>
        <div class="mb-3">
            <label asp-for="Department.Name" class="control-label"></label>
            <input asp-for="Department.Name" class="form-control" />
            <span asp-validation-for="Department.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Department.Budget" class="control-label"></label>
            <input asp-for="Department.Budget" class="form-control" />
            <span asp-validation-for="Department.Budget" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Department.StartDate" class="control-label"></label>
            <input asp-for="Department.StartDate" class="form-control" />
            <span asp-validation-for="Department.StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Department.InstructorId" class="control-label"></label>
            <select asp-for="Department.InstructorId" class="form-select" asp-items="Model.InstructorNames"></select>
            <span asp-validation-for="Department.InstructorId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
